@page
@model AspNetOne.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="card">
    <div class="card-header">
        Contribute
    </div>
    <div class="card-body">
        <ul>
            <li>Fork the repo on <a href="https://github.com/vijayshinva/AspNetOne">GitHub</a></li>
            <li>Clone the project to your own machine</li>
            <li>Commit changes to your own branch</li>
            <li>Push your work back up to your fork</li>
            <li>Submit a Pull request so that we can review your changes</li>
        </ul>
        NOTE: Be sure to merge the latest from "upstream" before making a pull request!
    </div>
</div>
<div class="card">
    <div class="card-header">
        MIT License
    </div>
    <div class="card-body">
        <p>Copyright 2021 - Vijayshinva Karnure</p>

        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

        <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    </div>
</div>